<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Device Distribution graph</title>

    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script>
    <![endif]-->
    <script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.pie.js"></script>
    
    <script language="javascript" type="text/javascript"
            src="http://www.flotcharts.org/flot/jquery.flot.time.js"></script>
</head>
<body>
<h1>Device Distribution graph</h1>

<div id="placeholder" style="width:600px;height:300px;"></div>


<script type="text/javascript">
    $(function () {
        $("<div id='tooltip'></div>").css({
            position: "absolute",
            display: "none",
            border: "1px solid #fdd",
            padding: "2px",
            "background-color": "#fee",
            opacity: 0.80
        }).appendTo("body");

        var ary = new Array();
        var options = {
            series: {
                grid: {
                hoverable: true,
                clickable: true
            },
                pie: {  
                    radius: 'auto',
                    innerRadius: 0.5,
                    show: true
                }
            }
        };

        $.ajax({
            type: "POST",
            url: "http://54.200.222.233:8000/meru-nms/reports/devicedist/",
            data: '{"mac" : ["AA:BB:CC:DD:00:DD"]}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result['status'] == 'true') {
                    for (var i = 0; i < result['values'].length; i++) {
                        ary.push(result['values'][i])
                    }
                    console.log(ary);
                    $.plot($("#placeholder"), ary, options);
                }           
            }
    });
});
</script>

</body>
</html>

